//Color Pattern Turkish Coffe
$color_amber_med: #b78338;
$color_amber_dark: #915c4c;
$color_teal_light: #9bcfb8;
$color_teal_med: #40686a;
$color_teal_dark: #072a24;
$color_brown_dark: #2f1812;

// Color Pattern Butterfyluck
$color_butterfly_1: #9ab878;
$color_butterfly_2: #f2de99;
$color_butterfly_3: #e98d24;
$color_butterfly_4: #252839;

$color_dark_blue: rgb(1, 39, 60);
$color_dark_gray: rgb(53, 54, 66);
$color_light_gray: #607178;
$color_light_ochre: #fbd1a7;
$color_chocolate: #d2691e;
$color_bisque: #ffe4c4;

$color-grey-light-1: #c2c0c0;

$color_smaragd_green: #7fb174;
$color_smaragd_blue_light: #689c97;

$color_purple_1: rgb(84, 65, 95);

$color-white: #fff;
$color-black: #000;
// Fonts
$default-font-size: 1.6rem;
$font-doris: "Doris", sans-serif;
$font-nunito: "Nunito", sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
